/*text样式 */ 
.text{margin-top:10px;padding:0 80px;margin-bottom:200px;}
.text img{float:left;margin-right:20px;}
.text p{font-size:18px;line-height:61px;text-indent:2em;letter-spacing:1.5px;color:#848484;}