/*main样式 */ 
.main{width:1200px;margin:0 auto;}

/*text样式*/
.text{width:1200px;margin:0 auto;border-top:2px #c0c0c0 solid;padding-top:32px;}
.text form{float:left;width:984px;padding:0 108px;font-size:18px;line-height:42px;word-spacing:10px;margin-top:0px;}
.text .img{float:right;}
.text form .message{float:left;width:415px;overflow:hidden;}
.text form .message li{float:left;width:415px;margin-top:7px;overflow:hidden;}
.text form .message li label{float:left;width:62px;font-weight:bold;color:#5b5b5b;font-size:20px;line-height:34px;height:34px;}
.text form .message li input{float:left;overflow:hidden;border:1px #5b5b5b solid;width:198px;height:30px;font-size:18px;line-height:30px;padding-left:5px;padding-right:5px;font-family: "微软雅黑";vertical-align:middle;border-radius:8px;behavior:url(PIE.htc);}
.text form .message li textarea{font-family:"微软雅黑";vertical-align:middle;float:left;overflow:hidden;border:1px #5b5b5b solid;padding-left:5px;width:346px;height:199px;resize:none;overflow:hidden;font-size:18px;line-height:30px;border-radius:5px;behavior:url(PIE.htc);}
.text form .message .check{float:left;width:353px;overflow:hidden;margin-left:62px;}
.text form .message .check .code{float:left;border:1px #5b5b5b solid;width:150px;padding-left:5px;padding-right:5px;height:24px;font-size:14px;line-height:24px;padding-top:2px;padding-bottom:2px;border-radius:5px;font-family:"微软雅黑";color:#848484;behavior:url(PIE.htc);}
.text form .message .check img{float:left;cursor:pointer;margin:auto 15px;}
.text form .message .check .change{float:left;cursor:pointer;width:70px;height:26px;font-size:14px;line-height:24px;margin-top:2px;margin-bottom:2px;text-align:center;color:#fff;background:#848484;border-radius:5px;behavior:url(PIE.htc);border:0;}
.text form .message .check .change:hover{background:#0174c3;}
.text form .message .submit{margin-top:7px;float:left;width:353px;margin-top:10px;overflow:hidden;margin-left:62px;}
.text form .message .submit .confirm{float:left;cursor:pointer;width:160px;height:40px;margin-right:33px;background:#848484;border-radius:5px; behavior:url(PIE.htc);color:#fff;font-size:16px;line-height:24px;border:0;}
.text form .message .submit .confirm:hover{background:#0174c3;}
.text form .message .submit .reset{float:left;cursor:pointer;text-align:center;width:160px;height:40px;background:#848484;border-radius:5px; behavior:url(PIE.htc);border:0px;color:#fff;font-size:16px;line-height:24px;border:0;}
.text form .message .submit .reset:hover{background:#0174c3;}

/*map样式*/
.map{overflow:hidden;width:1042px;height:402px;margin:0 auto;margin-bottom:80px;padding-top:50px;} 
.map iframe{width:1042px;height:402px;margin:0 auto;}




