﻿/*全局样式*/
body{ padding:0; margin:0; font-size:12px;font-family:"微软雅黑"; }
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,div,p,textarea{ padding:0; margin:0;}
ul{list-style:none;}
a{text-decoration:none;display: block;}
img{border:0px;}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}

/*图片自适应*/
a img{border:0;}
img{border:0;max-width:100%;height:auto;height:auto\9;display:block;} 

/*解决ie/firefox 浏览器中，点击一个链接后有一个虚线边框的问题*/
a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */ 　
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　
a:focus {-moz-outline-style:none; } /* IE不支持 */ 
a:focus {outline:none;-moz-outline:none;}

/*去除input的×*/
input,textarea{outline:none;}
input,textarea:focus{outline:none;}

/*header样式*/
.header{width:100%;}
.top{width:1200px;margin:0 auto;}
.top a{margin-top:50px;}

/*nav样式*/            
.nav{width:1200px;margin:0 auto;}
.nav ul{width:1200px;padding-top:50px;overflow:hidden;}
.nav ul li{float:left;margin-left:120px;line-height:43px;}
.nav ul li a{text-decoration:none;color:#000;font-size:30px;}
.nav ul li .current {border-bottom:4px #0174c3 solid;}
.nav ul li a:hover{border-bottom:4px #0174c3 solid;}

/*banner样式 */
/*轮播开始*/
.banner{width:100%;height:auto;position:relative;clear:both;float:left;margin-bottom:40px;overflow:hidden;}
div.img_list ul{width:100%;position:relative;height:auto;}
div.img_list ul li{width:100%;height:auto;z-index:0;opacity:0;filter:alpha(opacity=0);position: absolute;}
ul.small_nav{width:204px;height:24px;position: absolute;left:51%;bottom:3%;margin-left:-102px;z-index:2;}
ul.small_nav li{width:24px;height:24px;background-color: #fff;float:left;border-radius:50%;behavior:url(PIE.htc);margin-right: 41px;}
ul.small_nav li.active{background-color:#0174c3;}
ul.small_nav li a{display:block;width:27px;height:27px;cursor:pointer;}
/*上一个按钮 */
.banner .pre_btn{width:49px;height:58px;position:absolute;left:10%;top:50%;margin-top:-29px;z-index:2;}/*70/2*/
/*下一个按钮 */
.banner .next_btn{width:49px;height:58px;position:absolute;right:10%;top:45%;margin-top:-29px;z-index:2;}/*70/2*/
/*按钮样式 */
.banner .pre_btn,.banner .next_btn{opacity:0.8;filter:alpha(opacity=80);}
/*轮播结束*/

/*content样式*/
.content{width:100%;overflow:hidden;}

/*main样式*/
.main{width:1200px;margin:0 auto;overflow:hidden;padding-top:60px;}

/*sidebar样式 */
.sidebar{background:#0174c3;margin:0 auto;overflow: hidden;}
.sidebar .title{float:left;width:238px;background:#0174c3;}
.sidebar .title h1{margin:0 auto;width:110px;margin-top:38px;line-height:40px;font-size:24px;font-weight:bold;color:#fff;text-align:center;border-bottom:4px #fff solid;}
.sidebar .title h2{font-size:18px;line-height:32px;font-family:Arial;color:#fff;}
.sidebar ul{float:left;background:#fff;margin:20px 0;padding:39px;}
.sidebar ul li{float:left;line-height:32px;}
.sidebar ul li + li{margin-left:53px;}
.sidebar ul li a{display:block;font-size:24px;line-height:24px;height:32px;color:#030303;letter-spacing:1.8px;}
.sidebar ul li.current{border-bottom:2px #0174c3 solid;color:#0174c3;}
.sidebar ul li:hover{border-bottom:2px #0174c3 solid;color:#0174c3;}

/*title样式*/
.title{width:525px;height:113px;margin:0 auto;background:url(../images/title_bg.jpg) no-repeat;}
.title h1{text-align:center;color:#0174c3;font-size:28px;line-height:28px;letter-spacing:2px;}
.title h2{text-align:center;color:#0174c3;font-size:20px;line-height:32px;}
.main ul.location{overflow: hidden;border-bottom:2px #c0c0c0 solid;padding-left:80px;}
.main ul.location li{font-size:16px;float:left;color:#848484;line-height: 40px;}
.main ul.location li a{float:left;font-size:16px;color:#848484;}
.main ul.location li span{float:left;font-size:16px;color:#848484;}
.main ul.location li.current{color:#0174c3;}
.main ul.location li:hover a{color:#0174c3;}
/*.main ul.location li:hover +li{color:#848484;}*/

/*flip样式*/
.flip{float:left;width:590px;margin-left:324px;margin-bottom:60px;margin-top:30px;overflow:hidden;}
.page{float:left;height:24px;}
.page li{float:left;margin-right:32px;}
.page li.next{margin-right:0;}
.page .prev{text-align:center;width:66px;height:24px;background:#848484;border-radius:5px;behavior:url(PIE.htc);}
.page .prev a{color:#fff;display:block;}
.page .prev:hover{background:#0174c3;}
.page .prev a:hover{color:#fff;}
.page li a{color:#4b4b4b;height:24px;font-size:14px;line-height:24px;font-weight:bold;}
.page li a:hover{color:#0174c3;}
.page .next{text-align:center;width:66px;height:24px;background:#848484;border-radius:5px;behavior:url(PIE.htc);}
.page .next a{color:#fff;display:block;}
.page .next:hover{background:#0174c3;}
.page .next:hover a{color:#fff;}
.page .current a{color:#0073c2;display:block;}
.flip form{float:left;margin-left:40px;}
.flip form label{float:left;margin-left:10px;display:block;color:#4b4b4b;letter-spacing:2px;font-size:16px;line-height:24px;font-weight:bold;}
.flip form .drump{float:left;width:27px;height:22px;line-height:22px;color:#4b4b4b;letter-spacing:2px;padding-left:5px;padding-right:5px;margin-left:10px;border:1px #848484 solid;}
.flip form .comfirm{margin-left:10px;cursor:pointer;border:0;padding:0;background:#848484;color:#fff;border-radius:5px;behavior:url(PIE.htc);text-align:center;float:left;width:46px;height:24px;font-size:14px;line-height:24px;font-weight:bold;}
.flip form .comfirm:hover{background:#0174c3;}

/*footer样式 */
.footer{width:100%;background:#5b5b5b;overflow:hidden;}
.footer .content{width:1200px;margin:0 auto;}
.footer .content .footer_left{float:left;width:900px;margin:35px 0 35px 150px;}
.footer .content .footer_left p{color:#fff;text-align:center;font-size:18px;line-height:36px;word-spacing:12px;}
.footer .content .footer_left p span{font-size:15px;line-height:36px;word-spacing:5px;}
.footer .content .footer_left ul{margin:0 auto;width:900px;overflow:hidden;text-align:center;font-size:18px;line-height:36px;color:#fff;word-spacing:12px;letter-spacing:2px;}
.footer .content .footer_left ul li{float:left;}
.footer .content .footer_left ul li a{float:left;text-decoration:none;color:#fff;}
.footer .content .footer_left ul li span{float:left;margin:0 15px;}
.footer .content .footer_left ul li:hover a{color:#000;}
.footer .content .footer_right{float:left;width:150px;margin:35px 0 25px 0;}
.footer .content .footer_right img{float:right;}
