/*index_title样式*/
.title{width:1200px;margin:0 auto;background:url(../images/index_title_bg.jpg) no-repeat;}
.title h1{text-align:center;font-size:28px;line-height:48px;font-weight:bold;color:#0174c3;}
.title h2{text-align:center;font-size:20px;line-height:30px;font-weight:bold;color:#0174c3;}
.title h3{text-align:center;font-size:16px;line-height:32px;letter-spacing:4px;color:#57b6f7;}

/*about样式*/
.about{width:1200px;margin:0 auto;}
.about ul{width:1200px;margin-top:40px;overflow:hidden;}
.about ul li{float:left;width:150px;position:relative;margin:0 75px;}
.about ul li > img{display:block;margin:0px auto;width:150px;height:150px;z-index:1;}
.about ul li > a{display:none;margin:0px auto;width:150px;height:150px;position:absolute;top:0;left:0;z-index: 2;}
.about ul li:hover >a{display: block;}
.about ul li h1{font-size:16px;line-height:50px;text-align:center;}
.about ul li h1 a{text-decoration:none;color:#5b5b5b;}
.about ul li h1:hover a{color:#0075c5;}
.about ul li p{text-align:left;font-size:16px;line-height:40px;letter-spacing:2px;color:#5b5b5b;padding-bottom:60px;}

/*news样式*/
.news{width:1200px;margin:0 auto;}
.news ul{width:1200px;margin:0 auto;margin-top:40px;margin-bottom:10px;overflow:hidden;}
.news ul li{float:left;width:560px;padding:0 20px 50px 20px;color:#5b5b5b;}
.news ul li:hover h1{color:#0075c5;}
.news ul li:hover a{color:#0075c5;}
.news ul li h1 a{font-size:20px;line-height:40px;color:#000;} /*h1可不写样式（未居中），直接在a上给高/颜色/字体,可撑起父级h1*/
.news ul li p{font-size:18px;font-weight:400;line-height:36px;color:#5b5b5b;}
.news ul li p a{text-decoration:none;float:right;font-size:18px;line-height:36px;color:#5b5b5b;}

/*product轮播样式*/
.product{width: 1200px;margin: 0 auto;}
.product .content{width:1200px;margin-bottom:60px;margin-top:30px;}
.product .content .left{float: left;margin:121px 50px 0 0;}
.product .content .prolist{float: left;width:999px;height:302px;overflow:hidden;position:relative;}
.product .content .prolist ul{width:10000000px;height:302px;position: absolute;left:0px}
.product .content .prolist ul li{float:left;width:333px;height:302px;position:relative;box-sizing:border-box;}
.product .content .prolist ul li > a{display:block;float:left}
.product .content .prolist ul li > a img{border:3px #adadad solid;z-index:1;}
.product .content .prolist ul li p{
	float: left;
	margin:3px 0 0 3px;
	width:325px;height:294px; 
	position:absolute;
	z-index:2;
	background:rgba(0,0,0,0.5);
	-pie-background:rgba(0,0,0,0.5);
	behavior:url(PIE.htc);
	display:none;
}
.product .content .prolist ul li p a img{display: block;margin-top:22px;}
.product .content .prolist ul li:hover p{display: block;}
.product .content .right{float: right;margin:121px 0 0 50px;}

