/*main样式 */ 
.main{width:1200px;margin:0 auto;}

/*news样式*/
.news{float:left;margin:0 auto;}
.news li{width:1040px;margin-left:80px;margin-right:80px;margin-top:20px;margin-bottom:40px;overflow:hidden;}
.news li a img{margin-right:31px;}
.news li p{font-size:18px;line-height:60px;text-indent:2em;letter-spacing:1.5px;color:#848484;font-weight:bold;overflow:hidden;}
.news li .more{float:right;text-decoration:none;font-weight:bold;font-size:18px;line-height:20px;color:#c0c0c0;margin-top:50px;}
.news li .more:hover{color:#F00;}

