/*main样式 */ 
.main{width:1200px;margin:0 auto;}

/*news样式*/
.news{float:left;width:1200px;margin:0 auto;}
.news h1{text-align:center;color:#0174c3;font-size:20px;line-height:40px;}
.news div{width:1040px;margin:0 auto;margin-top:10px;font-size:20px;line-height:40px;}
.news div img{float:left;}
.news div p{display:block;text-indent:2em;float:left;color:#5b5b5b;text-indent:2em;}
.news .flip{borfer:1px red solid;display:block;margin-left:80px;margin-top:40px;margin-bottom:50px;}
.news .flip a{display:block;text-align:center;width:150px;font-size:20px;line-height:26px;background:#c0c0c0;color:#fff;border:0;margin-top:20px;border-radius:5px; behavior:url(PIE.htc);}
.news .flip a:hover{background:#0174c3;}




