/*main样式 */ 
.main{width:1200px;margin:0 auto;}

/*product样式*/
.product{width:1200px;margin:0 auto;font-size:14px;line-height:60px;}
.pro_top{float:left;width:1040px;margin:10px 80px;}
.pro_top img{float:left;margin-top:10px;}
.pro_top div{float:left;margin-left:80px;}
.pro_top div span{display:block;font-weight:bold;}
.pro_top div p{text-indent:2em;width:600px;float:left;}
.pro_middle{float:left;width:1040px;margin:10px 80px;}
.pro_middle span{float:left;font-weight:bold;font-size:14px;line-height:60px;} 
.pro_middle span + div{width:960px;float:left;margin-left:55px;font-size:14px;line-height:60px;}
.pro_bottom{float:left;width:1040px;margin:10px 80px;margin-bottom:40px;}
.pro_bottom span{float:left;font-weight:bold;} 
.pro_bottom div{float:left;width:960px;float:left;margin-left:55px;}
.pro_bottom div p{float:left;text-align:left;font-size:14px;line-height:60px;}

