/*main样式 */ 
.main{width:1200px;margin:0 auto;}

/*text样式*/
.text{width:1200px;margin:0 auto;overflow: hidden;}
.text ul{width:1000px;float:left;margin:17px 100px 55px 100px;}
.text ul li{float:left;width:200px;height:238px;position: relative;margin:auto 25px;}
.text ul li > a{
	display: block;
	float:left;
	width: 200px;
	height:200px;}
.text ul li > a img{display:block;border:2px #5f5f5f solid;z-index: 1;}
.text ul li p{display: none;}
.text ul li p> a img{
	float:left;
	display: block;
	margin: 2px 0 0 2px;
	z-index: 2;
	position: absolute;
	-pie-background:rgba(0,0,0,0.5);
	behavior: url(PIE.htc);
	background: rgba(0,0,0,0.5);
}
.text ul li span{display:block;width: 200px;line-height: 38px;text-align: center;}
.text ul li span a{display:block;color: #565656;font-weight: 600;font-size: 14px;}
.text ul li:hover p{display:block;}
.text ul li:hover span a{color:#0174c3;}
